@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;}
i{font-style:normal;}
b{font-weight:normal;}
em{font-style:normal;}
img{display:block;}
.fl{float:left;}
.fr{float:right;}
.clearFix:after{content:"";display:block;clear:both;}


body{font-size:12px;font-family:"微软雅黑";}
a{color:#727272;}

.wrapper{width:1200px;margin:0 auto;}


